# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Development/IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docs
*.md

# Test / temp files
*.log
.DS_Store
